@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap');

html,
body,
#root {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* EL SCROLL SOLO VA A AFECTAR AL MAIN (PARTE MEDIA) */
}

.app-fixed-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-scroll-area {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    background-image: url('./assets/fondoCelulares.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
}

/* ESTILOS FIJOS PARA NAVBAR Y FOOTER */
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
}

footer {
    position: sticky;
    bottom: 0;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 1rem;
}
