html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* EL SCROLL SOLO VA A AFECTAR AL MAIN (PARTE MEDIA) */
}


.app-fixed-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.main-scroll-area {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    background-color: #f9f9f9;
}


/* ESTILOS FIJOS PARA NAVBAR Y FOOTER */
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
}


footer {
    position: sticky;
    bottom: 0;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 1rem;
}
